* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Mengatur posisi kartu agar merata */
    margin-top: 20px;
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px; /* Mengatur jarak antar kartu */
    width: 400px; /* Mengatur lebar kartu */
    height: 550px; /* Mengatur tinggi kartu */
  }
  
  .right-section {
    padding: 20px;
    margin-left: 250px; /* Mengatur posisi konten agar tidak tertutup oleh sidebar */
  }
  
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #137fa3;
    padding-top: 20px;
    color: #fff;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s;
    font-size: 15px;
}

.sidebar-nav a:hover {
    background-color: #d9d9d9;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
.picture {
    width: 20px;
    margin: 10px;
}
